body{
    background-color: lightgray;
    color: black;
    font-family: sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 15px;
}
.Container{
    display: flex;
}
.MissionList{
    margin: 5px;
    padding-inline-start: 25px;
}
.CardText,.CardHeading{
    font-weight: bold;
    margin-top: 15px;
}
.CardValue{
    font-weight: normal;
}
.CardValue,.CardHeading{
    color: #535490;
}

.FilterContainer{
    min-width: 160px;
    padding: 15px;
}
.CardContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 14px;
    max-width: 1440px;
}
.FilterContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    height: fit-content;
}
.Card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    margin: 0px 0px 15px 15px;
    box-sizing: border-box;
}
.Heading{
    font-weight: bold;
}
.SubHeading{
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
}
.YearBtn{
    background-color: #c5e09a;
    padding: 5px 10px;
    border-radius: 4px;
}
.ImageStyle{
    background-color: lightgray;
    width: 100%;
    text-align: center;
}
.Image{
    width: 100%;
}
input:checked+.YearBtn {
     background-color: #7bba02;
}
.Line{
    width: 75%;
    margin-top: 2px;
    height: 1px;
    background-color: gray;
    border: none;
}
.GridContainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0px;
}

.DeveloperTag{
    text-align: center;
    font-weight: bold;
    margin-top:15px;
}
@media (min-width:1440px){
    .CardContainer{
        margin: 0px auto;
    }
}
@media (min-width : 1024px)  {
    .FilterContainer{
        width:180px;
        flex-shrink: 0;
    }
}
@media (min-width : 700px) and (max-width : 1023px)  {
    .FilterContainer{
        width:180px;
        flex-shrink: 0;
    }
    .CardContainer{
        grid-template-columns: auto auto;
    }
}
@media (max-width : 700px) {
    .FilterContainer{
        width:100%;
    }
    .Container{
        flex-wrap: wrap;
    }
    .CardContainer{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .Card{
        width: 100%;
        margin-left: 0px;
        height: auto;
    }
    .GridContainer{
        column-gap: 35px;
    }
    .Image{
        width: auto;
    }
}
