body{
    background-color: lightgray;
    color: black;
    font-family: sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
.Container{
    display: flex;
}
.MissionList{
    margin: 5px;
    padding-inline-start: 25px;
}
.CardText,.CardHeading{
    font-weight: bold;
    margin-top: 15px;
}
.CardValue{
    font-weight: normal;
}
.CardValue,.CardHeading{
    color: #535490;
}

.FilterContainer{
    min-width: 160px;
    padding: 15px;
}
.CardContainer{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}
.FilterContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    height: fit-content;
}
.Card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    width: 160px;
    margin: 0px 0px 15px 15px;
    height: 375px;
}
.Heading{
    font-weight: bold;
}
.SubHeading{
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
}
.YearBtn{
    background-color: #c5e09a;
    padding: 5px 10px;
    border-radius: 4px;
}
.ImageStyle{
    background-color: lightgray;
    width: 160px;
    height: 160px;
}
input:checked+.YearBtn{
    background-color: #7bba02;
}
.Line{
    width: 75%;
    margin-top: 2px;
}
.GridContainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0px;
}
.sort-loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #c5e09a;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 45%;
    left: 50%;
}

.loadingAnimImage {
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    position: fixed;
}
.DeveloperTag{
    text-align: center;
    font-weight: bold;
    margin-top:15px;
}
@media (min-width : 1024px)  {
    .FilterContainer{
        width:160px;
    }
}
@media (min-width : 700px) and (max-width : 1024px)  {
    .FilterContainer{
        width:160px;
    }
    .CardContainer{
        flex:33%
    }
    .GridContainer{
        padding-top: 10px;
        margin-top: 0px;
    }
}
@media (max-width : 636px) {
    .FilterContainer{
        width:100%;
    }
    .Container{
        flex-wrap: wrap;
    }
    .CardContainer{
        margin-top: 20px;
    }
    .Card{
        width: 100%;
        margin-left: 0px;
    }
    .GridContainer{
        padding-top: 10px;
         margin-top: 0px;
    }
    .sort-loader{
        position: relative;
        left: 40%;
        margin: 20% 0px 20%;
    }
    .ImageStyle{
        margin: auto;
    }
}
